* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100%;
  font-family: sans-serif;
}

nav .blue-row {
  width: 100%;
  background-color: #0282F9;
  display: flex;
  justify-content: flex-end;
  padding: 5px 100px;
  font-size: 0.8rem;
  color: #ffffff;
}
nav .nav {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 80px;
  font-size: 1rem;
}
nav .nav a {
  text-decoration: none;
  color: black;
}
nav .nav img {
  height: 60px;
}
nav .nav .pages {
  display: flex;
  justify-content: center;
  width: 80%;
}
nav .nav .pages h4 {
  text-transform: uppercase;
  padding: 0 5px;
}
nav .nav .pages h4 span {
  color: blue;
}
nav .nav .pages h4:hover {
  color: blue;
  border-bottom: solid 1px blue;
}
nav .nav input {
  height: 1.8rem;
  font-size: 1rem;
  text-align: end;
}

.jumbo {
  height: 400px;
  overflow: hidden;
}
.jumbo img {
  width: 100%;
}

main {
  width: 100%;
  position: relative;
}
main .container {
  width: 100%;
  padding: 50px 15% 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #1C1C1C;
}
main .container .absolute {
  position: absolute;
  color: white;
  background-color: #0282F9;
}
main .container .top {
  top: 0;
  left: 16.5%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 900;
  padding: 5px 10px;
}
main .container .bottom {
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6rem;
  padding: 10px 30px;
}
main .container .card {
  width: 16.6666666667%;
  padding: 0 10px;
}
main .container .card .img {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
main .container .card .img img {
  width: 100%;
}
main .container .card p {
  padding-top: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
}
main .container-main-section {
  height: 120px;
  width: 100%;
  background-color: #0282F9;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container-main-section .merch {
  padding: 0 40px;
  color: white;
  display: flex;
  align-items: center;
}
main .container-main-section .merch img {
  height: 80px;
  padding: 10px;
}

footer {
  height: 450px;
  background-image: url("../img/footer-bg.jpg");
}
footer .footer-container {
  height: 100%;
  overflow: hidden;
}
footer .footer-container .float-left {
  float: left;
  width: 50%;
  height: 500px;
}
footer .footer-container .float-left:after {
  content: " ";
  display: block;
  clear: both;
}
footer .footer-container .float-left ul {
  padding: 20px 0 0 30%;
  height: 400px;
  width: 50%;
  color: white;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
footer .footer-container .float-left ul .list {
  padding: 10px 0;
}
footer .footer-container .float-left ul .list h3 {
  padding: 20px 0;
}
footer .footer-container .float-left ul .list li {
  color: grey;
  padding: 2px 0;
  font-size: 0.9rem;
  text-transform: capitalize;
}
footer .footer-container .float-left p {
  padding-left: 30%;
  font-size: 0.8rem;
  color: grey;
}
footer .footer-container .float-left p span {
  color: #0282F9;
  cursor: pointer;
}
footer .footer-container .float-left img {
  height: 110%;
  -o-object-position: 0px -50px;
     object-position: 0px -50px;
}
footer .icons {
  height: 100px;
  width: 100%;
  background: #303030 !important;
  display: flex;
}
footer .icons .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  font-size: 0.8rem;
}
footer .icons .left .btn {
  padding: 10px;
  border: solid 1.5px #0282F9;
}
footer .icons .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .icons .right div > h3 {
  color: #0282F9;
  font-size: 1rem;
  padding-right: 20px;
}
footer .icons .right .socials img {
  padding: 0 5px;
  height: 30px;
}