* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: sans-serif;
}

nav .blue-row {
  width: 100%;
  background-color: #0282F9;
  display: flex;
  justify-content: flex-end;
  padding: 2px 100px;
  font-size: 0.4rem;
  color: #ffffff;
}
nav .nav {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 80px;
  font-size: 0.5rem;
}
nav .nav img {
  height: 30px;
}
nav .nav .pages {
  display: flex;
  justify-content: center;
  width: 80%;
}
nav .nav .pages h4 {
  text-transform: uppercase;
  padding: 0 5px;
}
nav .nav .pages h4 span {
  color: blue;
}
nav .nav .pages h4:hover {
  color: blue;
  border-bottom: solid 1px blue;
}
nav .nav input {
  height: 1rem;
  font-size: 0.5rem;
  text-align: end;
}

.jumbo {
  height: 400px;
  overflow: hidden;
}
.jumbo img {
  width: 100%;
}

main {
  width: 100%;
  height: 600px;
  padding: 30px;
  background-color: #1C1C1C;
  position: relative;
}
main .container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .container .absolute {
  position: absolute;
  color: white;
  background-color: #0282F9;
  padding: 5px 10px;
}
main .container .top {
  top: 0;
  left: 16.5%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 900;
}
main .container .bottom {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
}
main .container .card {
  width: 16.6666666667%;
  padding: 0 10px;
}
main .container .card .img {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
main .container .card .img img {
  width: 100%;
}
main .container .card p {
  padding-top: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
}