main {
    width: 100%;
    height:35%;    
    padding: 30px 0;
    background-color: #1C1C1C;
    position: relative;    
    .container {
        width: 70%;
        margin: 130px auto;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;  
        .absolute {
            position: absolute;
            color: white;
            background-color: #0282F9;
            
        } 
        .top {
            top: 0;
            left: 16.5%;
            transform: translateY(-50%);
            font-size: 1.2rem;
            font-weight: 900;
            padding: 5px 10px;
        } 
        .bottom {
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: .6rem;
            padding:10px 30px;

        } 
        .card {
            width: calc(100% / 6);
            padding: 0 10px ;
            .img {
                height:200px;
                object-fit: contain;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            p {
                padding-top: 10px;
                color: white;
                text-transform: uppercase;
                font-size: .9rem;
            }
        }
        
    }
    .container-main-section {
        height: 20%;
        width: 100%;
        background-color: #0282F9;
        display: flex;
        justify-content:center;
        align-items: center;
        .merch{
            padding: 0 40px;
            color: white;
            display: flex;
            align-items: center;
            img {
                height: 80px;
                padding:10px;
            } 
        }
    }
    
}